
@{
    ViewBag.Title = "Transportation List";
    Layout = Session["Layout"].ToString();
}

<div class="row">
    <div class="col-md-12">
        <div class="small-box bg-white p-2" id="filter_Category">
            <span class="text-sm">Search Record</span>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group text-sm">
                        <input type="text" class="form-control form-control-sm column_filter" data-column="4" id="txtSearchTransport" name="txtSearchTransport" placeholder="Search Transport">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select class="form-control form-control-sm select3 column_filter" data-column="5" id="ddSearchType" name="ddSearchType" title="Please Selected Type">
                            <option value="" selected="selected">-----Selected Type ------</option>
                            <option value="COMPANY">COMPANY</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                    </div>
                </div>                
                <div class="col-md-2">
                    <div class="form-group text-sm">
                        <input type="text" class="form-control form-control-sm column_filter" data-column="0" id="txtSearchTransportName1" name="txtSearchTransportName1" placeholder=" Search Person">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control form-control-sm select3 column_filter" data-column="1" id="ddSearchCity" name="ddSearchCity" title="Please Selected City">
                        <option value="" selected="selected">---Selected City---</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class="form-group text-sm">
                        <input type="text" class="form-control form-control-sm column_filter" data-column="2" id="txtSearchContact" name="txtSearchContact" placeholder="Type Contact">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group text-sm">
                        <input type="text" class="form-control form-control-sm column_filter" data-column="3" id="txtSearchRouteName" name="txtSearchRouteName" placeholder="Type Route Name">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <span id="btnListSearch" class="btn btn-outline-secondary btn-sm" title="Filter"><i class="fas fa-filter"></i></span>
                    <span id="btnListRefresh" class="btn btn-outline-secondary btn-sm" title="Reset"><i class="fas fa-sync-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Transportation List</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <button type="button" id="btnTransportation" class="btn btn-block btn-outline-secondary btn-sm"><i class="glyphicon glyphicon-edit"></i>Add New</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body small p-2" style="height: 70vh;">
                <!--class="card-body table-responsive p-0" style="height: 300px;"-->
                <table class="table table-striped tabel-sm no-footer table-borderless table-hover table-head-fixed table-responsive-card" id="myTableTransportation">
                    <!--table table-head-fixed-->
                    <thead>
                        <tr>
                            <th>Transport</th>
                            <th>Type</th>
                            <th>Vehicle</th>
                            <th>Person</th>
                            <th>City</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Route</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section footer{
    <script>
        var oTableTransport;
        function filterColumn(i, tag) {
            oTableTransport.DataTable().column(i).search(
                tag.val()
            ).draw();
        }
        $(function () {
            $(".master,.master-transportation").addClass('active');

            /* Aditional Filter */
            $('input.column_filter,select.column_filter').on('keyup change', function () {
                filterColumn($(this).attr('data-column'), $(this));
            });

            bindDropDownList($('#ddSearchCity'), 'City');

            BindTableTransportation();// Bind table

            //refresh button
            $('#btnListRefresh').click(function () {
                oTableTransport.DataTable().state.clear();
                location.reload();
            });

            $('#btnTransportation').click(function () {
                //model size .modal-sm .modal-lg .modal-xl
                viewPartialViewModal("New Transportation", "/Transportation/Form", "modal-lg");
            });
        });

        function BindTableTransportation() {
            //Button active by class name Eg .edit-record,.delete-record,.view-record,.info-record
            //action Edit,Delete,View,Info //"class on click edit-record,delete-record,view-record,info-record"
            var activeButtonClass = "Edit,View";
            oTableTransport = bindTableSmart($('#myTableTransportation'), activeButtonClass, "/Transportation/LoadData", "null", $("#filter_Category")); //Bind Table

            //"edit-record,delete-record,view-record,info-record"
            oTableTransport.on('click', '.edit-record', function () {
                //var recordId = $(this).closest("td").find("input[type='hidden']").val();
                var recordId = $(this).attr('data-id');
                var recordTitle = $(this).closest("tr").find("td").eq(0).text();
                viewPartialViewModal(recordTitle, "Edit?id=" + recordId, "modal-lg ");// Model Size : modal-sm modal-md modal-lg
            });

            //"edit-record,delete-record,view-record,info-record"
            oTableTransport.on('click', '.view-record', function () {
                //var recordId = $(this).closest("td").find("input[type='hidden']").val();
                var recordId = $(this).attr('data-id');
                var recordTitle = $(this).closest("tr").find("td").eq(0).text();
                viewPartialViewModal(recordTitle, "/Transportation/Info?id=" + recordId, "modal-xl");// Model Size : modal-sm modal-md modal-lg
            });
        }

    </script>

}






