@{
    ViewBag.Title = "Employee List";

}

<div class="row">
    <div class="col-md-12">
        <div class="small-box bg-white p-2" id="filter_Employee">
            <span class="text-sm">Search Record</span>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group text-sm">
                        <input type="text" class="form-control form-control-sm column_filter" data-column="0" id="txtSearchEmployee" name="txtSearchEmployee" placeholder="Type Employee Name">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control form-control-sm select3 column_filter" data-column="1" id="ddSearchDesignation" name="ddSearchDesignation" title="Please Selected Designation">
                        <option value="" selected="selected">---Selected Designation---</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control form-control-sm select3 column_filter" data-column="2" id="ddSearchStatus" name="ddSearchStatus" title="Please Selected Status">
                        <option value="" selected="selected">---Selected Status---</option>
                        <option value="True">Active</option>
                        <option value="False">Deactive</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <span id="btnListSearch" class="btn btn-outline-secondary btn-sm" title="Filter"><i class="fas fa-filter"></i></span>
                    <span id="btnListRefresh" class="btn btn-outline-secondary btn-sm" title="Reset"><i class="fas fa-sync-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Employee List</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <button type="button" id="btnFormEmployee" class="btn btn-block btn-outline-secondary btn-sm"><i class="glyphicon glyphicon-edit"></i>Add New</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive small p-2" style="height: 70vh;">
                <!--class="card-body table-responsive p-0" style="height: 300px;" nowrap -->
                <table class="table table-striped table-sm no-footer table-borderless table-hover table-head-fixed table-responsive-card" id="myTableEmployee">
                    <!--table table-head-fixed-->
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Designation</th>
                            <th>Company Mobile</th>
                            <th>status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section footer{
    <script>
        var oTableEmployee;
        function filterColumn(i, tag) {
            oTableEmployee.DataTable().column(i).search(
                tag.val()
            ).draw();
        }
        $(function () {
            $(".master,.master-Employee").addClass('active');

            /* Aditional Filter */
            $('input.column_filter,select.column_filter').on('keyup change', function () {
                filterColumn($(this).attr('data-column'), $(this));
            });

            /* Bind Designation */
            bindDropDownList($('#ddSearchDesignation'), 'Designation');

            BindTableEmployee();// Bind table

            //refresh button
            $('#btnListRefresh').click(function () {
                oTableEmployee.DataTable().state.clear();
                location.reload();
            });

            $('#btnFormEmployee').click(function () {
                //model size .modal-sm .modal-lg .modal-xl
                viewPartialViewModal("New Employee", "/Employee/Form", "modal-xl");
            });
        });

        function BindTableEmployee() {
            //Button active by class name Eg .edit-record,.delete-record,.view-record,.info-record
            //action Edit,Delete,View,Info //"class on click edit-record,delete-record,view-record,info-record"
            var activeButtonClass = "Edit";
            oTableEmployee = bindTableSmart($('#myTableEmployee'), activeButtonClass, "/Employee/LoadData", "null", $("#filter_Employee")); //Bind Table

            //"edit-record,delete-record,view-record,info-record"
            oTableEmployee.on('click', '.edit-record', function () {
                //var recordId = $(this).closest("td").find("input[type='hidden']").val();
                var recordId = $(this).attr('data-id');
                var recordTitle = $(this).closest("tr").find("td").eq(1).text();
                viewPartialViewModal(recordTitle, "Edit?id=" + recordId, "modal-xl");// Model Size : modal-sm modal-md modal-lg
            });

        }


    </script>

}