@{
    ViewBag.Title = "Dealer Scheme List";
    Layout = Session["Layout"].ToString();
}

<div class="row">
    <div class="col-md-12">
        <div class="small-box bg-white p-2" id="filter_SchemeAttach">
            <span class="text-sm">Search Record</span>
            <div class="row">
                <div class="form-group col-md-2">
                    <input type="text" class="form-control form-control-sm column_filter" data-column="1" id="txtSearchStartDate" name="txtSearchStartDate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd-mm-yyyy" placeholder="Search Date">
                </div>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control form-control-sm" id="txtSearchDistributorName" name="txtSearchDistributorName" placeholder="Enter type Dealer" data-error="Please fill up Dealer">
                    <input type="hidden" value="" id="hdSearchDistributorId" name="hdSearchDistributorId" data-column="0" />
                </div>
                <div class="col-md-2">
                    <div class="form-group text-sm">
                        <input type="text" class="form-control form-control-sm column_filter" data-column="2" id="txtSearchScheme" name="txtSearchScheme" placeholder="Type Scheme">
                    </div>
                </div>
                <div class="col-md-2">
                    <span id="btnListSearch" class="btn btn-outline-secondary btn-sm" title="Filter"><i class="fas fa-filter"></i></span>
                    <span id="btnListRefresh" class="btn btn-outline-secondary btn-sm" title="Reset"><i class="fas fa-sync-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Dealer Scheme List</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <button type="button" id="btnFormScheme" class="btn btn-block btn-outline-secondary btn-sm"><i class="glyphicon glyphicon-edit"></i>Add New</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body small p-2" style="height: 70vh;">
                <table class="table table-striped tabel-sm no-footer table-borderless table-hover table-head-fixed table-responsive-card" id="myTableSchemeAttachment">
                    <!--table table-head-fixed-->
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Scheme</th>
                            <th>Dealer</th>
                            <th>Amount</th>
                            <th>Credit</th>
                            <th>Achieve</th>
                            <th>Remark</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section footer{
    <script>
        var oTableSchemeAttach;
        function filterColumn(i, tag) {
            oTableSchemeAttach.DataTable().column(i).search(
                tag.val()
            ).draw();
        }
        $(function () {
            $(".Scheme,.Scheme-attachment").addClass('active');

            /* Aditional Filter */
            $('input.column_filter,select.column_filter').on('keyup change', function () {
                filterColumn($(this).attr('data-column'), $(this));
            });

            //Item AutoComplete
            customAutoCompleteDynamic($('#txtSearchDistributorName'), $('#hdSearchDistributorId'), "Distributor", AutoCompleteDistributorResult);

            //Date picker
            $('#txtSearchStartDate').datepicker({
                format: "dd-mm-yyyy",
                todayHighlight: true,
                autoclose: true
            });
            //Datemask dd/mm/yyyy
            // $('#txtSearchStartDate').inputmask('dd-mm-yyyy', { 'placeholder': 'dd-mm-yyyy' })

            BindTableSchemeAttach();// Bind table

            //refresh button
            $('#btnListRefresh').click(function () {
                oTableSchemeAttach.DataTable().state.clear();
                location.reload();
            });

            $('#btnFormScheme').click(function () {
                //model size .modal-sm .modal-lg .modal-xl
                viewPartialViewModal("New Scheme", "/SchemeDealer/Form", "modal-md");
            });
        });

        /*start : Custom AutoComplete result*/
        function AutoCompleteDistributorResult(e, u) {
            //console("auto complete");
            if (u.item == null) {
                console.log(u.item);
                $("#txtSearchDistributorName,#hdSearchDistributorId").val("");
            }
            else {
                var searchCustomerId = $('#hdSearchDistributorId');
                filterColumn(searchCustomerId.attr('data-column'), searchCustomerId);
            }
        }

        function BindTableSchemeAttach() {
            //Button active by class name Eg .edit-record,.delete-record,.view-record,.info-record
            //action Edit,Delete,View,Info //"class on click edit-record,delete-record,view-record,info-record"
            var activeButtonClass = "Edit:,Account,Attachment";
            oTableSchemeAttach = bindTableSmart($('#myTableSchemeAttachment'), activeButtonClass, "/SchemeDealer/LoadData", "null", $("#filter_SchemeAttach")); //Bind Table

            //"edit-record,delete-record,view-record,info-record"
            oTableSchemeAttach.on('click', '.edit-record', function () {
                //var recordId = $(this).closest("td").find("input[type='hidden']").val();
                var recordId = $(this).attr('data-id');
                var recordTitle = $(this).closest("tr").find("td").eq(0).text();
                viewPartialViewModal(recordTitle, "Edit?id=" + recordId, "modal-md");// Model Size : modal-sm modal-md modal-lg
            });

            oTableSchemeAttach.on('click', '.attachment-record', function () {
                //var recordId = $(this).closest("td").find("input[type='hidden']").val();
                var recordId = $(this).attr('data-id');
                var recordTitle = $(this).closest("tr").find("td").eq(1).text();
                var recordTitle1 = $(this).closest("tr").find("td").eq(3).text();
                viewPartialViewModal(recordTitle + " - " + recordTitle1, "Attachment?id=" + recordId, "modal-xl");// Model Size : modal-sm modal-md modal-lg
            });

            // "edit-record,delete-record,view-record,info-record"
            oTableSchemeAttach.on('click', '.account-record', function () {
                var recordId = $(this).attr('data-id');
                var recordTitle = $(this).closest("tr").find("td").eq(1).text();
                var recordTitle1 = $(this).closest("tr").find("td").eq(2).text();
                viewPartialViewModal(recordTitle + " - " + recordTitle1, "Info?id=" + recordId, "modal-xl");// Model Size : modal-sm modal-md modal-lg
            });

            //"edit-record,delete-record,view-record,info-record"
            /*  oTableSchemeAttach.on('click', '.account-record', function () {
                  //var recordId = $(this).closest("td").find("input[type='hidden']").val();
                  var recordId = $(this).attr('data-id');
                  window.location = "/SchemeDealer/FormScheme?id=" + recordId;// Model Size : modal-sm modal-md modal-lg
              });*/
        }

    </script>

}







