@{
    var InfoJson = ViewBag.JsonData;
}
<div class="col-12 text-center bg-transparent">
    <span class="delete-record-message" id="btnDeleteSchemeTarget"> DELETE PERMANENT RECORDS ? CLICK HERE  <i class="far fa-trash-alt delete-record text-red" title="Delete Record"></i></span>
</div>
<div class="p-2">
    <form role="form" data-toggle="validator" id="formSchemeTarget" class="text-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="txtAmount">Scheme Amount<i class="text-red" title="Required">*</i></label>
                        <input type="text" class="form-control  form-control-sm" id="txtAmount" name="txtAmount" placeholder="Enter Scheme Amount" data-error="Please Fill Up Scheme Amount" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="txtTargetAmount">Target Amount <i class="text-red" title="Required">*</i></label>
                        <input type="text" class="form-control  form-control-sm" id="txtTargetAmount" name="txtTargetAmount" placeholder="Enter Target Amount" data-error="Please Fill Up Target Amount" required>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <hr />
                <input type="hidden" value="" id="hdId" name="hdId" />
                <input type="hidden" value="" id="hdSchemeId" name="hdSchemeId" />
                <input type="submit" class="col-md-3 btn btn-outline-secondary btn-sm" value="Save">
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {

        /*Edit Record */
        var jInfo = @Html.Raw(InfoJson);
        console.log(jInfo);
        if (jInfo != null) {
            $("#hdId").val(jInfo[0].SchemeTargetId);
            $("#hdSchemeId").val(jInfo[0].SchemeId);
            $("#txtAmount").val(jInfo[0].SchemeAmount);
            $("#txtTargetAmount").val(jInfo[0].TargetAmount);
        }
        /* end:Edit Record */

        /*Delete Action*/
        $('#btnDeleteSchemeTarget').on('click', function (e) {
            confirmDialog('Are you sure to delete record ?', function () {
                var recordId = $("#hdId").val();
                sendData($("#formDelete"), "/SchemeTarget/Delete?id=" + recordId, $(this), $(this).text(), "/Scheme/List");
            });
        });


        /* start Form validation & save data */
        var f = $('#formSchemeTarget');
        f.validator();// Call validation function
        f.attr('autocomplete', 'off');//Auto Complete Off
        f.submit(function (e) {
            e.preventDefault();
            var button = f.find(':submit');
            var isDisabled = button.is('.btn.disabled');
            var redirectUrl = ''; // Eg /SchemeTarget/List
            if (isDisabled) {
                return;
            }
            else {
                console.log("Successed");
                sendData(f, "/SchemeTarget/Insert", button, button.text(), redirectUrl).then(function (res) {
                    $('#myNestedModalPartialView').modal('hide');
                    BindTableSchemeTarget();
                });
            }
        });
        /* end Form */
    });
</script>





