
@{
    var InfoJson1 = ViewBag.JsonData1;
}
<div class="p-0">
    <form role="form" data-toggle="validator" id="formConvertToCredit">
        <div class="form-group col-md-12">
            <label for="txtDate1"> Date <i class="text-red" title="Required">*</i></label>
            <input type="text" class="form-control form-control-sm" id="txtDate1" name="txtDate1" data-inputmask-alias="datetime" data-inputmask-inputformat="dd-mm-yyyy" placeholder="Enter Date">
        </div>
        <div class="form-group col-md-12">
            <label for="txtRemark">Remark</label>
            <input row="2" type="text" class="form-control form-control-sm" id="txtRemark" name="txtRemark" placeholder="Enter Remark" data-error="Please Fill Up Remark">
        </div>
        <div class="col-12 text-center">
            <input type="hidden" value="" id="hdSalesReturnId" name="hdSalesReturnId" />
            <input type="hidden" value="" id="txtDistributorId1" name="txtDistributorId1" />
            <button type="submit" class="col-md-3 btn btn-default btn-sm col-4">Save</button>
        </div>
    </form>
</div>
<script>

    $(function () {

            /*Edit Record */
            var jInfo = @Html.Raw(InfoJson1);
            console.log(jInfo);
            if (jInfo != null) {
                $("#hdSalesReturnId").val(jInfo[0].SalesReturnId);
                $("#txtDate1").val(jInfo[0].Date);
                $("#txtDistributorId1").val(jInfo[0].DistributorId);
                $("#txtRemark").val(jInfo[0].Remark);
            }
        /* end:Edit Record */

        //Date picker
        $('#txtDate1').datepicker({
            format: "dd-mm-yyyy",
            todayHighlight: true,
            autoclose: true
        }).datepicker("setDate", "0");

        //Datemask dd/mm/yyyy
        $('#txtDate1').inputmask('dd-mm-yyyy', { 'placeholder': 'dd-mm-yyyy' })

        /* start Form validation & save data */
        var f1 = $('#formConvertToCredit');
        f1.validator();// Call validation function
        f1.submit(function (e) {
            e.preventDefault();
            var button = f1.find(':submit');
            var isDisabled = button.is('.btn.disabled');
            var redirectUrl = ''; // Eg /Category/List
            if (isDisabled) {
                return;
            }
            else {
                sendData(f1, "/SalesReturn/InsertCredit", button, button.text(), redirectUrl).then(function (obj) {
                    if (obj.status == 'success') {
                        window.location = "/CreditNote/List";// Model Size : modal-sm modal-md modal-lg
                    }
                });
            }
        });
        /* end Form */

    });
</script>




