@{
    ViewBag.Title = "Home ";
    Layout = Session["Layout"].ToString();
    var InfoJson = ViewBag.JsonData;
    <!-- fullCalendar -->
    <link rel="stylesheet" href="../plugins/fullcalendar/main.min.css">
}
@section containerfluid{
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div><!-- /.col -->
}
<!-- Main row -->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="small">
                <div class="row">
                    <div class="col-md-4">
                        <div id="viewCalendar">
                        </div>
                        <!-- calendar -->
                    </div>
                    <div class="col-md-4">
                        <!-- task -->
                        <div id="viewTodo">
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
@section footer{
  <script>
        $(function () {
            $(".dashboard").addClass('active');

            /* Bind Todo*/
            $("#viewTodo").load("/Todo/Info");

            /* Bind Calendar*/
            $("#viewCalendar").load("/Schedule/Info");
        });

  </script>
}
<!--
    bg-navy
    bg-lime
    bg-maroon
    bg-yellow
    bg-green
    bg-teal
    bg-cyan
    bg-gray
    bg-gray-dark
-->
