<div class="p-2">
    <form role="form" data-toggle="validator" id="formCategory" class="text-sm">
        <div class="col-12">
            <div class="form-group">
                <label for="txtCategory">Category <i class="text-red" title="Required">*</i></label>
                <input type="text" class="form-control  form-control-sm" id="txtCategory" name="txtCategory" placeholder="Enter Category" data-error="Please Fill Up Category" required>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="ddStatus">Status <i class="text-red" title="Required">*</i></label>
                <select class="form-control select3  form-control-sm" id="ddStatus" name="ddStatus" data-error="Please Select Status" required>
                    <option value="">-- Select Status ---</option>
                    <option selected="selected" value ="TRUE">Active</option>
                    <option value="FALSE">Deactive</option>
                </select>
            </div>
        </div>
        <div class="col-12 text-center">
            <hr />
            <input type="hidden" value="" id="hdId" name="hdId" />
            <button type="submit" class="col-md-3 btn btn-outline-secondary btn-sm">Save</button>
        </div>
    </form>
</div>
<script>
    $(function () {
        /* start Form validation & save data */
        var f = $('#formCategory');
        f.validator();// Call validation function
        f.attr('autocomplete', 'off');//Auto Complete Off
        f.submit(function (e) {
            e.preventDefault();
            var button = f.find(':submit');
            var isDisabled = button.is('.btn.disabled');
            var redirectUrl = '/Category/List'; // Eg /Category/List
            if (isDisabled) {
                return;
            }
            else {
                /*var returnValue = sendData(f, "/Category/Insert", button, button.text(), redirectUrl);
                console.log(returnValue);*/
                sendData(f, "/Category/Insert", button, button.text(), redirectUrl).then(function (res) {
                    console.log(res)
                });
            }
        });
        /* end Form */
    });
</script>


